<div class="candidate-heads">
  <div class="back-strip"></div>  
  <div class="heads">
    {{candidate-heads candidates=model.candidates selectedCandidate=selectedCandidate}}
  </div>
</div>

{{outlet}}
